In [1]:
import requests
import pandas as pd
from io import StringIO
import geopandas as gpd

boundary_cms='https://waterdata.ibwc.gov/AQWebportal/Export/BulkExport?DateRange=Days30&TimeZone=-8&Calendar=CALENDARYEAR&Interval=Hourly&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=True&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeQualifiers=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge.Best%20Available%4011013300&Datasets[0].Calculation=Aggregate&Datasets[0].UnitId=128&_=1739415189330'

canal_cms="https://waterdata.ibwc.gov/AQWebportal/Export/BulkExport?DateRange=Days30&TimeZone=-8&Calendar=CALENDARYEAR&Interval=Hourly&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=True&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeQualifiers=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge.Telemetry-ADS-mgd%4011-TIJUANA-CANAL&Datasets[0].Calculation=Aggregate&Datasets[0].UnitId=128&_=1739415331096"

In [2]:
response=requests.get(boundary_cms)

boundary_df=pd.read_csv(StringIO(response.text), skiprows=3,skipfooter=1, header=1,engine='python'  )
boundary_df.set_index('Start of Interval (UTC-08:00)', inplace=True)
boundary_df

                              End of Interval (UTC-08:00)  Average (m^3/s)
Start of Interval (UTC-08:00)
2025-03-04 00:00:00                   2025-03-04 01:00:00             2.55
2025-03-04 01:00:00                   2025-03-04 02:00:00             2.39
2025-03-04 02:00:00                   2025-03-04 03:00:00             2.29
2025-03-04 03:00:00                   2025-03-04 04:00:00             2.12
2025-03-04 04:00:00                   2025-03-04 05:00:00             2.03
...                                                   ...              ...
2025-04-03 09:00:00                   2025-04-03 10:00:00             2.55
2025-04-03 10:00:00                   2025-04-03 11:00:00             2.48
2025-04-03 11:00:00                   2025-04-03 12:00:00             2.42
2025-04-03 12:00:00                   2025-04-03 13:00:00             2.37
2025-04-03 13:00:00                   2025-04-03 14:00:00             2.27

[734 rows x 2 columns]

In [3]:
boundary_df.to_csv('../../../../data/discharge_tj/out/border_cms.csv')

In [4]:
response=requests.get(canal_cms)

canal_df=pd.read_csv(StringIO(response.text), skiprows=3,skipfooter=1, header=1,engine='python'  )
canal_df.set_index('Start of Interval (UTC-08:00)', inplace=True)
canal_df

                              End of Interval (UTC-08:00)  Average (m^3/s)
Start of Interval (UTC-08:00)
2025-03-04 00:00:00                   2025-03-04 01:00:00              0.0
2025-03-04 01:00:00                   2025-03-04 02:00:00              0.0
2025-03-04 02:00:00                   2025-03-04 03:00:00              0.0
2025-03-04 03:00:00                   2025-03-04 04:00:00              0.0
2025-03-04 04:00:00                   2025-03-04 05:00:00              0.0
...                                                   ...              ...
2025-04-02 18:00:00                   2025-04-02 19:00:00              0.0
2025-04-02 19:00:00                   2025-04-02 20:00:00              0.0
2025-04-02 20:00:00                   2025-04-02 21:00:00              0.0
2025-04-02 21:00:00                   2025-04-02 22:00:00              0.0
2025-04-02 22:00:00                   2025-04-02 23:00:00              NaN

[719 rows x 2 columns]

In [5]:
canal_df.to_csv('../../../../data/discharge_tj/out/canal_cms.csv')

In [6]:
from foursquare.data_sdk import DataSDK, MediaType
import os
refresh_token=os.getenv("RC_FSQ_REFRESH_TOKEN")
#client = DataSDK(refresh_token=refresh_token)
client = DataSDK()

In [7]:
dataset_id=""

client.upload_dataframe(
            canal_df,
         dataset="0b01fc5a-9acf-4182-96ce-2b6e971d42e9",
            name='TJ Canal Flow',
            description="Canal")

Compressing file
Uploading: 100%|██████████| 3.87k/3.87k [00:00<00:00, 5.96kB/s]

Dataset(id=UUID('0b01fc5a-9acf-4182-96ce-2b6e971d42e9'), name='TJ Canal Flow', type=<DatasetType.MANAGED: 'managed'>, created_at=datetime.datetime(2025, 2, 13, 17, 20, 56, tzinfo=TzInfo(UTC)), updated_at=datetime.datetime(2025, 4, 3, 22, 20, 39, tzinfo=TzInfo(UTC)), description='Canal', is_valid=True, data_connector=None, metadata=DatasetMetadata(media_type='text/csv', size=31856, source=None, tileset_data_url=None, tileset_metadata_url=None, image_url=None, metadata_url=None, data_status=None))

In [8]:
client.upload_dataframe(
            boundary_df,
           dataset="1ef50bc2-8c8a-4784-916f-8328092cf53b",
            name='TJ Border Flow',
            description="Tijuana River flow at border")

Compressing file
Uploading: 100%|██████████| 5.15k/5.15k [00:00<00:00, 9.42kB/s]

Dataset(id=UUID('1ef50bc2-8c8a-4784-916f-8328092cf53b'), name='TJ Border Flow', type=<DatasetType.MANAGED: 'managed'>, created_at=datetime.datetime(2025, 2, 13, 17, 22, 17, tzinfo=TzInfo(UTC)), updated_at=datetime.datetime(2025, 4, 3, 22, 20, 42, tzinfo=TzInfo(UTC)), description='Tijuana River flow at border', is_valid=True, data_connector=None, metadata=DatasetMetadata(media_type='text/csv', size=33079, source=None, tileset_data_url=None, tileset_metadata_url=None, image_url=None, metadata_url=None, data_status=None))